<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<array>
		<dict>
			<key>imageName</key>
			<string>discover1.png</string>
			<key>title</key>
			<string>热门微博</string>
			<key>detailTitle</key>
			<string> </string>
			<key>section</key>
			<integer>1</integer>
			<key>row</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>imageName</key>
			<string>discover2.png</string>
			<key>title</key>
			<string>找人</string>
			<key>detailTitle</key>
			<string> </string>
			<key>section</key>
			<integer>1</integer>
			<key>row</key>
			<integer>1</integer>
		</dict>
	</array>
	<array>
		<dict>
			<key>imageName</key>
			<string>discover3.png</string>
			<key>title</key>
			<string>游戏中心</string>
			<key>detailTitle</key>
			<string> </string>
			<key>section</key>
			<integer>2</integer>
			<key>row</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>imageName</key>
			<string>discover4.png</string>
			<key>title</key>
			<string>应用</string>
			<key>detailTitle</key>
			<string>汇聚微博里最热门的APP</string>
			<key>section</key>
			<integer>2</integer>
			<key>row</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>imageName</key>
			<string>discover5.png</string>
			<key>title</key>
			<string>周边</string>
			<key>detailTitle</key>
			<string>看“古城”附近微博，发现身边趣事儿</string>
			<key>section</key>
			<integer>2</integer>
			<key>row</key>
			<integer>2</integer>
		</dict>
	</array>
	<array>
		<dict>
			<key>imageName</key>
			<string>discover6.png</string>
			<key>title</key>
			<string>奔跑2015</string>
			<key>detailTitle</key>
			<string> </string>
			<key>section</key>
			<integer>3</integer>
			<key>row</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>imageName</key>
			<string>discover7.png</string>
			<key>title</key>
			<string>股票</string>
			<key>detailTitle</key>
			<string> </string>
			<key>section</key>
			<integer>3</integer>
			<key>row</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>imageName</key>
			<string>discover8.png</string>
			<key>title</key>
			<string>旅游</string>
			<key>detailTitle</key>
			<string> </string>
			<key>section</key>
			<integer>3</integer>
			<key>row</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>imageName</key>
			<string>discover9.png</string>
			<key>title</key>
			<string>电影</string>
			<key>detailTitle</key>
			<string> </string>
			<key>section</key>
			<integer>3</integer>
			<key>row</key>
			<integer>3</integer>
		</dict>
		<dict>
			<key>imageName</key>
			<string>discover10.png</string>
			<key>title</key>
			<string>听歌</string>
			<key>detailTitle</key>
			<string> </string>
			<key>section</key>
			<integer>3</integer>
			<key>row</key>
			<integer>4</integer>
		</dict>
		<dict>
			<key>imageName</key>
			<string>discover11.png</string>
			<key>title</key>
			<string>鲜城-北京</string>
			<key>detailTitle</key>
			<string>玩转北京101条吃喝玩乐攻略</string>
			<key>section</key>
			<integer>3</integer>
			<key>row</key>
			<integer>5</integer>
		</dict>
		<dict>
			<key>imageName</key>
			<string>discover12.png</string>
			<key>title</key>
			<string>购物</string>
			<key>detailTitle</key>
			<string>       </string>
			<key>section</key>
			<integer>3</integer>
			<key>row</key>
			<integer>6</integer>
		</dict>
		<dict>
			<key>imageName</key>
			<string>discover13.png</string>
			<key>title</key>
			<string>更多频道</string>
			<key>detailTitle</key>
			<string>      </string>
			<key>section</key>
			<integer>3</integer>
			<key>row</key>
			<integer>7</integer>
		</dict>
	</array>
</array>
</plist>
