<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<array>
		<dict>
			<key>imageName</key>
			<string>personal1.png</string>
			<key>title</key>
			<string>新的朋友</string>
			<key>detailTitle</key>
			<string> </string>
			<key>section</key>
			<integer>0</integer>
			<key>row</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>imageName</key>
			<string>personal2.png</string>
			<key>title</key>
			<string>微博等级</string>
			<key>detailTitle</key>
			<string>Lv66</string>
			<key>section</key>
			<integer>0</integer>
			<key>row</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>imageName</key>
			<string>personal3.png</string>
			<key>title</key>
			<string>编辑资料</string>
			<key>detailTitle</key>
			<string> </string>
			<key>section</key>
			<integer>0</integer>
			<key>row</key>
			<integer>2</integer>
		</dict>
	</array>
	<array>
		<dict>
			<key>imageName</key>
			<string>personal4.png</string>
			<key>title</key>
			<string>我的相册</string>
			<key>detailTitle</key>
			<string> </string>
			<key>section</key>
			<integer>1</integer>
			<key>row</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>imageName</key>
			<string>personal5.png</string>
			<key>title</key>
			<string>我的点评</string>
			<key>detailTitle</key>
			<string> </string>
			<key>section</key>
			<integer>1</integer>
			<key>row</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>imageName</key>
			<string>personal6.png</string>
			<key>title</key>
			<string>我的赞</string>
			<key>detailTitle</key>
			<string> </string>
			<key>section</key>
			<integer>1</integer>
			<key>row</key>
			<integer>2</integer>
		</dict>
	</array>
	<array>
		<dict>
			<key>imageName</key>
			<string>personal7.png</string>
			<key>title</key>
			<string>微博会员</string>
			<key>detailTitle</key>
			<string>卡片背景、送流量</string>
			<key>section</key>
			<integer>2</integer>
			<key>row</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>imageName</key>
			<string>personal8.png</string>
			<key>title</key>
			<string>微博运动</string>
			<key>detailTitle</key>
			<string>步数、卡路里、跑步轨迹</string>
			<key>section</key>
			<integer>2</integer>
			<key>row</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>imageName</key>
			<string>personal9.png</string>
			<key>title</key>
			<string>微博支付</string>
			<key>detailTitle</key>
			<string>积分赢小米4</string>
			<key>section</key>
			<integer>2</integer>
			<key>row</key>
			<integer>2</integer>
		</dict>
	</array>
	<array>
		<dict>
			<key>imageName</key>
			<string>personal10.png</string>
			<key>title</key>
			<string>草稿箱</string>
			<key>detailTitle</key>
			<string> </string>
			<key>section</key>
			<integer>3</integer>
			<key>row</key>
			<integer>0</integer>
		</dict>
	</array>
	<array>
		<dict>
			<key>imageName</key>
			<string>personal11.png</string>
			<key>title</key>
			<string>更多</string>
			<key>detailTitle</key>
			<string>收藏、等级</string>
			<key>section</key>
			<integer>4</integer>
			<key>row</key>
			<integer>0</integer>
		</dict>
	</array>
</array>
</plist>
