<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>networkTypeNameColor</key>
		<string>0X6078A0</string>
		<key>networkTypeImageName</key>
		<string>settings_statistic_pic_point.png</string>
		<key>networkTypeIndex</key>
		<string>0</string>
		<key>networkTypeName</key>
		<string>信息流</string>
		<key>networkTypeColor</key>
		<string>0X5595CB</string>
	</dict>
	<dict>
		<key>networkTypeNameColor</key>
		<string>0X37A50F</string>
		<key>networkTypeImageName</key>
		<string>settings_statistic_feed_point.png</string>
		<key>networkTypeIndex</key>
		<string>1</string>
		<key>networkTypeName</key>
		<string>图片</string>
		<key>networkTypeColor</key>
		<string>0X69CE3B</string>
	</dict>
	<dict>
		<key>networkTypeNameColor</key>
		<string>0XFFc954</string>
		<key>networkTypeImageName</key>
		<string>settings_statistic_messages_point.png</string>
		<key>networkTypeIndex</key>
		<string>2</string>
		<key>networkTypeName</key>
		<string>推送</string>
		<key>networkTypeColor</key>
		<string>0XFFC954</string>
	</dict>
	<dict>
		<key>networkTypeNameColor</key>
		<string>0XF06000</string>
		<key>networkTypeImageName</key>
		<string>settings_statistic_other_point.png</string>
		<key>networkTypeIndex</key>
		<string>3</string>
		<key>networkTypeName</key>
		<string>卡片</string>
		<key>networkTypeColor</key>
		<string>0XF06000</string>
	</dict>
</array>
</plist>
